@import "../../styles/mixins.scss";
.dashboard {
  @include custom-scrollbar(visible);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}
